@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-sans: var(--font-sarala);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sarala), "Sarala", system-ui, -apple-system, sans-serif;
}
